/******************************************************HELPERS**********************************/

/* tap targets: (finger size)*/

nav a, button {
    min-width: 48px;
    cursor: pointer;
}

/*dont strech my media*/

img, embed, video, object {
    max-width: 100%;
    height: auto;
}

/* --- list ---*/

.clean-list {
    /*give this class for the ul*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* --- flex ---*/

.flex {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-right {
    justify-content: right;
}

.align-items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}


.clean-link {
    /* pointer-events: none; */
    /* cursor: default; */
    text-decoration: none;
    color: #fde9d6;
  }
  

/************************************************END***HELPERS**********************************/

body{
    font-family: fantasy
}

nav{
    background-color: lightpink;
}